{{!-- Page to edit person --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit person')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete person.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new person" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of person. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>name</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='name' editable=true}}</td>
</tr>
      <tr>
      <td>email</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='email' editable=true}}</td>
</tr>
      <tr>
      <td>role</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='role' editable=true}}</td>
</tr>

        
        <tr><td>classesTaught</td><td align='middle'>{{edit-has-many relName=changeset.classesTaught relType="class"}}</td></tr>
      <tr><td>classesTaken</td><td align='middle'>{{edit-has-many relName=changeset.classesTaken relType="class"}}</td></tr>
      <tr><td>earnedGrades</td><td align='middle'>{{edit-has-many relName=changeset.earnedGrades relType="grade"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
